{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/about-me/about-me.css') }}">
{% endblock %}

{% block body %}
    <div class="ui segments">
        <div class="ui red padded text container segment">
            <h2 class="ui centered header">
                <img class="ui image" src="{{ asset('images/me.png') }}" alt="Me">
                <div class="content">
                    About Me
                </div>
            </h2>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Mauris convallis volutpat purus, eu ullamcorper turpis cursus et.
                Suspendisse tincidunt sagittis augue, placerat bibendum dolor commodo sed. Sed eget ligula a enim interdum
                sagittis nec ut tellus. Nam fringilla, urna eu iaculis condimentum,
                tellus est mollis ipsum, nec tristique lectus arcu vel felis. Nullam eleifend vestibulum tincidunt. Integer pellentesque, nisi et molestie vulputate, mauris arcu
                gravida mi, id semper sem metus quis nibh. Aenean vehicula imperdiet fermentum.

                Fusce nec dictum est. Vivamus posuere scelerisque urna, eget rhoncus
                purus efficitur ac. Curabitur vitae justo ex. Donec mattis felis turpis, ut sodales ex varius sit amet. Mauris ultrices mi eget commodo maximus. Donec ullamcorper
                dignissim sagittis. Fusce et neque orci. Nam dui risus, pulvinar et egestas egestas, pretium in sem. Praesent eget enim vitae tellus vestibulum dignissim in iaculis dolor. Nunc egestas quam a urna vehicula tempus. </p>
        </div>
        <div class="ui secondary segment">
            <h2 class="ui centered header">
                <img class="ui image" src="{{ asset('images/skills.png') }}" alt="My skills">
                <div class="content">
                    My skills
                </div>
            </h2>
            <div class="ui equal width centered grid" id="skills">
                <div class="column">
                    <h2 class="ui center aligned header">Web</h2>
                    <div class="ui tiny images">
                        <img class="ui image" data-position="top center" data-content="HTML 5" src="{{ asset('images/html.svg') }}">
                        <img class="ui image" data-position="top center" data-content="CSS 3" src="{{ asset('images/css.svg') }}">
                        <img class="ui image" data-position="top center" data-content="Javascript" src="{{ asset('images/js.svg') }}">
                        <img class="ui image" data-position="top center" data-content="PHP" src="{{ asset('images/php.svg') }}">
                    </div>
                </div>
                <div class="borders column">
                    <h2 class="ui center aligned header">At School</h2>
                    <div class="ui tiny images">
                        <img class="ui image" data-position="top center" data-content="Python" src="{{ asset('images/python.svg') }}">
                        <img class="ui image" data-position="top center" data-content="C" src="{{ asset('images/c.png') }}">
                        <img class="ui image" data-position="top center" data-content="C++" src="{{ asset('images/c++.png') }}">
                    </div>
                </div>
                <div class="column">
                    <h2 class="ui center aligned header">Others</h2>
                    <div class="ui tiny images">
                        <img class="ui image" data-position="top center" data-content="C# .NET" src="{{ asset('images/CSharp.svg') }}">
                        <img class="ui image" data-position="top center" data-content="Unity Game Engine" src="{{ asset('images/unity.svg') }}">
                    </div>
                </div>
            </div>
        </div>
        <div class="ui segment">
            <h2 class="ui centered header">
                <img class="ui image" src="{{ asset('images/xp.svg') }}" alt="Me">
                <div class="content">
                    My Experience
                </div>
            </h2>

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/about-me/about-me.js') }}"></script>
{% endblock %}