<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ asset('lib/semantic/semantic.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/base.css') }}">
    {% block stylesheets %}
    {% endblock %}
</head>
<body>
<div class="ui stackable menu">
    <div id="nav_logo" data-url="{{ path('home') }}" class="item">
        <img src="/images/logo.png" alt="Tiflo">
    </div>
    <a class="item" href="{{ path('home') }}">Home</a>
    <a class="item" href="{{ path('about-me') }}">About me</a>
    <a class="item">Services</a>
    <div class="right menu">
        {% if not app.user %}
            <div class="item">
                <div id="Signup" data-url="{{ path('app_register') }}" class="ui green button">Register</div>
            </div>
            <div class="item">
                <div id="Signin" data-url="{{ path('app_login') }}" class="ui primary button">Login</div>
            </div>
        {% elseif app.user %}
            <div class="item">
                <div id="Logout" data-url="{{ path('app_logout') }}" class="ui red button">Sign Out</div>
            </div>
        {% endif %}
    </div>
</div>
{% block body %}{% endblock %}
    <script src="{{ asset('lib/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ asset('lib/semantic/semantic.min.js') }}"></script>
    <script src="{{ asset('js/base/base.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
